<!-- <div class="body">
    <img src="assets/innspark_logo.png" alt="innsprkLogo">
    <p>header works!</p>
    <p>BIG DATA SECURITY ANALYTICS PLATFORM</p>
</div> -->


<!-- <div class="container">
    <img src="assets/innspark_logo.png" alt="innsprkLogo" class="logo">
    <div class="text">
        <p>BIG DATA SECURITY ANALYTICS PLATFORM</p>
    </div>
</div> -->
<div class="header">
    <img src="assets\Logo.png" alt="Logo" class="logo">
    <div class="title">BIG DATA SECURITY ANALYTICS PLATFORM</div>
    <div class="icons">
      <div class="icon-group">
        <img src="assets\bell.png" alt="Bell Icon" class="icon">
        <span class="badge">12</span>
      </div>
      <div class="icon-group">
        <img src="assets\isign.png" alt="Alert Icon" class="icon">
        <span class="badge">2209</span>
      </div>
      <div class="user-icon">
        <img src="assets\user.png" alt="Admin Icon" class="icon">
        <span>Admin</span>
      </div>
    </div>
</div>
<hr>