<!-- <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" class="sidenav">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <mat-list-item>Home</mat-list-item>
        <mat-list-item>About</mat-list-item>
        <mat-list-item>Services</mat-list-item>
        <mat-list-item>Contact</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button (click)="sidenav.toggle()">Toggle Side Nav</button>
        <span>Content Area</span>
      </mat-toolbar>
      <div class="content">
        <p>Welcome to the main content area!</p>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
   -->


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
    <mat-nav-list>
      <mat-list-item>Home</mat-list-item>
      <mat-list-item>About</mat-list-item>
      <mat-list-item>Services</mat-list-item>
      <mat-list-item>Contact</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button (click)="sidenav.toggle()">Toggle Sidenav</button>
    <div class="content">
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-drawer-container></mat-drawer-container>


<div class="sidebar">
  <div class="logo">
    <h2>MyApp</h2>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
</div>

<div class="content">
  <!-- <router-outlet></router-outlet> -->
</div>
