<div class="main">
    <div class="header-part">
    <app-header></app-header>
    </div>
    <div class="sub-main">
        <div class="lft">
            <app-sidebar></app-sidebar>
        </div>
        <div class="ryt">
            <app-home-dashboard-header></app-home-dashboard-header>
            <app-todays-log></app-todays-log>

            <app-smoothed-line-chart></app-smoothed-line-chart>
            <!-- <app-traffic-source-type></app-traffic-source-type>
            <app-traffic-organization></app-traffic-organization>
            
            <app-organisation-stats></app-organisation-stats>
            <app-traffic-recognized></app-traffic-recognized>
            <app-threat-category></app-threat-category>
            <app-alert></app-alert> -->
        </div>
    </div>
</div>

<!-- <app-dashboard></app-dashboard> -->

<!-- <h1>Heading</h1> -->